.DS_Store
error_log
/.htaccess
Thumbs.db
/php/db_connect.php
/include/config.php
/config.php
/config2.php
/php2/loadUsers.php
/_notes/dwsync.xml
/php/_notes/dwsync.xml
/include/_notes/dwsync.xml
/include/class/_notes/dwsync.xml